$app-background: rgb(38, 0, 255);
$text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

main{
    background-color:$app-background;
    padding: 50px 50px 50px 50px;



    div{
        background-color: white;
        padding: 20px;
        font-family: $text-font;
       
    }

    #welcome{
        font-size: 30px;
    }

}

